<!-- Citation for this file:
// Date: 2/18/2024
// URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%200%20-%20Setting%20Up%20Node.js
// Application: Visual Studio Code, version 1.85.1 
// Type: starter/example code provided by Dr. Michael Curry, starter/example code is filled in/modified by Jason Szeto
// Author(s): Dr. Michael Curry
// Code version: N/A -->

<!-- locations.hbs -->
{{!-- Create a table --}}
<h2>Table of Locations</h2>
<table id="locations-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            <!-- Modify column names to display -->
            <th>Location ID</th>
            <th>City</th>
            <th>State</th>
            <th>Address</th>
            <th>Location Vehicle Capacity</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the SQL data in order --}}
        {{#each data}}
        <tr data-value={{this.locationID}}>
            <td>{{this.locationID}}</td>
            <td>{{this.city}}</td>
            <td>{{this.state}}</td>
            <td>{{this.address}}</td>
            <td>{{this.locationVehicleCapacity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a New Location</h2>
<form id="add-location-form-ajax">  
    <label for="input-city">City: </label>
    <input type="text" name="input-city" id="input-city" placeholder="required">

    <label for="input-state">State: </label>
    <input type="text" name="input-state" id="input-state" placeholder="required">

    <label for="input-address">Address: </label>
    <input type="text" name="input-address" id="input-address" placeholder="required">

    <label for="input-locationvehiclecapacity">Location Vehicle Capacity: </label>
    <input type="number" name="input-locationvehiclecapacity" id="input-locationvehiclecapacity" placeholder="required">

    <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_location.js"></script>

