<!-- Citation for this file:
// Date: 2/18/2024
// URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%200%20-%20Setting%20Up%20Node.js
// Application: Visual Studio Code, version 1.85.1 
// Type: starter/example code provided by Dr. Michael Curry, starter/example code is filled in/modified by Jason Szeto
// Author(s): Dr. Michael Curry
// Code version: N/A -->

<!-- rentals.hbs -->
{{!-- Create a table --}}
<h2>Table of Rentals</h2>
<table id="rentals-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            <!-- Modify column names to display -->
            <th>Rental ID</th>
            <th>Vehicle</th>
            <th>Start Date (YYYY-MM-DD)</th>
            <th>End Date (YYYY-MM-DD)</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the SQL data in order --}}
        {{#each data}}
        <tr data-value={{this.rentalID}}>
            <td>{{this.rentalID}}</td>
            <td>{{this.makeNameModelNameYear}}</td>
            <td>{{this.rentalStartDate}}</td>
            <td>{{this.rentalEndDate}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a New Rental</h2>
<form id="add-rental-form-ajax">
    <label for="input-makeNameModelNameYear">Vehicle: </label>
    <select name="input-makeNameModelNameYear" id="mySelectMakeNameModelNameYear">
        <option value="test">Make a Selection</option>
        {{#each vehiclesData}}
        <option value="{{this.vehicleID}}">{{this.makeName}} {{this.modelName}} ({{this.modelYear}}, {{this.mileage}} miles)</option>
        {{/each}}
    </select>

    <label for="input-startdate">Start Date: </label>
    <input type="date" name="input-startdate" id="input-startdate">

    <label for="input-enddate">End Date: </label>
    <input type="date" name="input-enddate" id="input-enddate">

    <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_rental.js"></script>

