<!-- Citation for this file:
// Date: 2/18/2024
// URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%200%20-%20Setting%20Up%20Node.js
// Application: Visual Studio Code, version 1.85.1 
// Type: starter/example code provided by Dr. Michael Curry, starter/example code is filled in/modified by Jason Szeto
// Author(s): Dr. Michael Curry, Jason Szeto
// Code version: N/A -->

<!-- vehicles.hbs -->
{{!-- Create a table --}}
<h2>Table of Vehicles</h2>
<table id="vehicles-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            <!-- Modify column names to display -->
            <th>Vehicle ID</th>
            <th>Address of Location</th>
            <th>Make Name</th>
            <th>Model (Year)</th>
            <th>Mileage</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the SQL data in order --}}
        {{#each data}}
        <tr data-value={{this.vehicleID}}>
            <td>{{this.vehicleID}}</td>
            <td>{{this.fullAddress}}</td>
            <td>{{this.makeName}}</td>
            <td>{{this.modelNameYear}}</td>
            <td>{{this.vehicleMileage}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a New Vehicle</h2>
<form id="add-vehicle-form-ajax">

    <label for="input-fullAddress">Address of Location: </label>
    <select name="input-fullAddress" id="mySelectFullAddress">
        <option value="">None</option>
        {{#each locationsData}}
        <option value="{{this.locationID}}">{{this.address}}, {{this.city}}, {{this.state}}</option>
        {{/each}}
    </select>

    <label for="input-makeName">Make Name: </label>
    <select name="input-makeName" id="mySelectMakeName">
        <option value="test">Make a Selection</option>
        {{#each makesData}}
        <option value="{{this.makeID}}">{{this.makeName}}</option>
        {{/each}}
    </select>

    <label for="input-modelYear">Model Name (Year): </label>
    <select name="input-modelYear" id="mySelectModelYear">
        <option value="test">Make a Selection</option>
        {{#each modelsData}}
        <option value="{{this.modelID}}">{{this.modelName}} ({{this.modelYear}})</option>
        {{/each}}
    </select>

    <label for="input-mileage">Mileage: </label>
    <input type="number" name="input-mileage" id="input-mileage" placeholder="required">

    <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_vehicle.js"></script>

<h2>Update A Vehicle's Location </h2>
<form id="update-vehicle-form-ajax">

    <label for="input-vehicleinformation"> Make Name, Model(Year), Mileage: </label>
    <select name="input-vehicleinformation" id="mySelectVehicleInformation">
        <option value="test">Select a Vehicle</option>
        {{#each data}}
        <option value="{{this.vehicleID}}">{{this.makeName}} {{this.modelNameYear}}, {{this.vehicleMileage}} miles</option>
        {{/each}}
    </select>

    <label for="input-locationinformation">New Location: </label>
    <select name="input-locationinformation" id="mySelectLocationInformation">
        <option value="">None</option>
        {{#each data}}
        <option value="{{this.vehicleID}}">{{this.fullAddress}}</option>
        {{/each}}
    </select>
    
    <input type="submit">
</form>

<script src="./js/update_vehicle.js"></script>